    /* TWO BRAND FONTS (MADA AND LATO) IMPORTED */

    @import url('https://fonts.googleapis.com/css2?family=Mada:wght@300&display=swap'); /* Mada font imported for header titles */
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Mada:wght@300&display=swap'); /*Lato font imported for body*/

    body { 
        font-size: 100%; 
        font-family:'Mada', sans-serif; 
        color:rgb(0, 0, 0);
        margin: 0;
    }

    h1 {
      margin-left: 20px; /* Adds a little space between the logo and the heading */
      font-size: 35px; /* font sizes added for headers */
      font-family: 'Lato', sans-serif;
    }

    h2 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 50px;
        margin-left: 10px;
    }

    h3 {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    p {
        font-family: 'Mada', sans-serif;
        font-size: 16px;
        margin-left:10px;
    }


/********************************/
  /* _____START NAV______ */

  nav {
      background-color: rgb(255, 255, 255); /*nav colour added */
      margin: auto;
      height: auto;
      float: right;
      display: block;
      padding-right: 50px;
      text-decoration: none;
      font-family:  'Lato', sans-serif;
  }
  
  nav ul {
    display: flex; /* the flex-container for the list items makes the flex-items sit side by side */
    justify-content: space-between; /* spreads the flex-items starting at the start and end of the main axis */
    list-style-type: none; /* removes the list bullets */
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0;
  }

  nav li a:hover { 
    background-color: #686f48;
    color: rgb(255, 255, 255)
  }
  
  nav li a { 
    padding: 15px ;
    display: inline-block; /* an anchor is an inline element so it has no box model vertical measurements, this makes the anchor behave like a block element that sits inline like an inline element */
    text-decoration: none;
    font-weight: bold; 
    color: #2c2c2c;
  }

  * {
  box-sizing: border-box;
}

.header .logo {  /*Nav header logo */
  display: block;
  float: left;
  font-size: 2em;
  padding-left: 100px;
  padding: 10 40 10 10px;
  text-decoration: none;
}

header { /*Home, About, Services, Contact, & Social Icons Styling */ 
      padding: 15px;
      width: 1000px; /* Centers the content and gives it negative space on either side */
      margin: auto;
      display: flex; /* The flex-container for the logo and the heading (the flex-items) makes the flex-items sit side by side */
      align-items: center; /* Positions the flex items at the center of the cross axis (vertical) */
    }

.header { /* Nav Bar Box, makes nav items sit spread apart */
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 4px 0 rgba(54, 54, 54, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

header .wrapper-form, article, footer { /*Decides where nav items lay on the page*/
    width: 1000px;
    margin: auto;
    padding: 0 30px ;
  }
  
/******************************/
/*Header Image Styling Start */

#headerphoto { 
        width:100%;
        height: 500px;
        margin:auto;
        background-position:center;
        background-repeat:repeat;
        overflow:hidden;
        display: block;
       }

#headerphoto img{ 
    width: 100%;
    display: block;
} 

/*Header image Styling End*/
/*****************************/


/* HEADER MENU */

.header .menu {
  clear: both;
  max-height: 0;
  transition: .2s ease-out;
}

@media (min-width: 48em) { /* 48em=768px*/
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

/*Facebook & Twitter & Youtube NAV Icons */
.social-icon { 
    margin-left: 10px;
    margin-right: 5px;
    float: right;
}


* {
    box-sizing: border-box;
  }
  
  /* Start responsive nav for medium devices using Claire's codepen, then adjusted (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .wrapper {
      display: flex;
    }
    nav {
      flex-grow: 1;
      margin-right: 10px;
    }
    section {
      flex-grow: 3;
    }
  }
  @media only screen and (min-width: 1200px) {
    .wrapper {
     max-width: 1200px;
     margin: 0 auto; 
    }
  
  }
 /* ===============
     CONTACT LEFT 
     =============== */
 * {
    box-sizing: border-box;
  }
  
  body, .wrapper-form, .wrapper {
    font-family: 'Mato', sans-serif;
  }
  
  /* ===============
     BUTTONS
     =============== */
  
  input[type="reset"] {
    color: #363636;
    padding: 12px 20px;
    border: 1px solid #363636;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="reset"]:hover {
    background-color: #d3d3d3;
  }
  
  input[type="submit"] { /*Submit button*/
    background-color: #363636;
    color: white;
    padding: 12px 20px;
    border: 1px solid #363636;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #686f48;
  }
  
  /* ===============
     STRUCTURE
     =============== */
  
  .wrapper-form {
    background-color: #f2f2f2;
    margin-left: 10px;
    margin-top: 50px;
    padding: 20px;
    width: 1000;
  }
  
  .wrapper-button {
    display: flex;
    justify-content: space-between;
  }
  
  /* ===============
     FORM CONTROLS
     =============== */
  
  input,
  select,
  textarea {
    font-size: 1em;
    font-family: 'Mada', sans-serif;
  }
  
  /* stream and message boxes */
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  /* email box */ 
  input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  /* phone style box */
  input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  /* Contact Info Right Side Start */
  article {
    margin-right: 30px; /* adds a little space between the article and the aside */
    flex-basis: 0; /* resets the default width of the flex-item to 0 */
    float: left;
    margin-left: 100px;
    width: 33.33%;
    margin-top: 0px;
  }

  /* Left side end. Right side contact column start */ 
  aside {
    margin-top: 40px;
    flex-basis: 0; /* resets the default width of the flex item to 0 */
    flex-grow: 3; /* grows the width of the flex item so that it is one third of the container, 2+1=3 */
    flex-wrap: wrap; /* makes the flex items sit one below the other */
    align-content: space-between; /* spreads the flex items evenly starting at the start and end of the cross axis */
  }

  a:visited, a:link, .contact-email {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

  /*Google Maps*/
  .google-maps {
    float: center;
    margin-top: 20px;
  }

/*FOOTER STYLE START*/ 

footer {
      background: #686f48;
      width: 100%;
      color: #fff;
    }

    .footer-content { 
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50%;
      width: 100;
    }

    .footer-content p{ /*footer disclaimerparagraph text */ 
        max-width: 500px;
        margin: 10px auto;
        margin-top: 20px;
        line-height: 28px;
        font-size: 16px;
        color: #f4f4f4;
        text-align: center;
        font-family: 'Mada', sans-serif;
    }

.footer-bottom{ /*Copyright info*/ 
    background: #505538;
    width: 100%;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.footer-bottom p{
   float: left center;
   font-size: 14px;
}

.footer-bottom span{ /*Copyright info end*/
    opacity: .4;
    font-weight: 200;
}

/*right side nav bar start*/
.footer-menu{
  float: right;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{ 
  color: #000000;
  text-decoration: none;
  font-family: 'Mada', sans-serif;
  font-weight: 100px;
  font-size: smaller;
}

.footer-menu ul li a:hover{
  color: #686f48;
}

@media screen and (max-width: 600px) {
  .footer, .footer-menu, .footer-bottom [type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
}