* { box-sizing: border-box; } 

body {
  font-family: sans-serif;
  margin: 0;
  color: #191645;
}

header { 
  padding: 15px; 
  width: 800px;
  margin: auto;
}

/* navigation */

nav {
  background-color: #f3f3f4;
}
nav .wrapper1 {
  width: 800px;
  margin: auto;
}
nav ul {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
}

nav li { float: left; }

nav li a { 
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #191645;
}

nav li a:hover { 
  background-color: #43C6Ac;
  color: white;
}
/* end navigation */

main {
  padding: 15px;
  width: 800px;
  margin: auto;
}

article {
  float: left;
  width: 75%;
}

aside {
  border: 1px solid #43C6Ac;
  padding: 15px;
  float: right;
  width: 25%;
}

footer {
  clear: both;
  background-color: #191645;
  color: white;
}
footer .wrapper {
  width: 800px;
  margin: auto;
  padding: 15px;
}

.wrapper {
    background-color: #f3f3f4;
    padding: 15px;
    border: 1px solid #aaaaaa;
    border-radius: 30px;
    float: left;
    width: calc(33.33% - 30px);
    box-sizing: border-box;
    margin: 15px;
  }
  
  .wrapper img { width: 100%; }