    /* TWO BRAND FONTS (MADA AND LATO) IMPORTED */
    @import url('https://fonts.googleapis.com/css2?family=Mada:wght@300&display=swap'); 
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Mada:wght@300&display=swap'); 

    body { 
        color:rgb(0, 0, 0);
        margin: 0;
    }

    /* Text Styling */
    /**********************/

    h1 {
      margin-left: 30px; /* Adds a little space between the logo and the heading */
      font-size: 35px; /* font sizes added for headers */
      font-family: 'Lato', sans-serif;
    }

    h2 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 50px;
        margin-left: 30px;
    }

    h3 {
        font-family: 'Lato', sans-serif;
        font-size: 35px;
        margin-left: 30px;
        font-weight: bold;
    }


    h4 {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    p {
        font-family: 'Mada', sans-serif;
        font-size: 16px;
        margin-left: 30px;
        margin-right: 30px;
    }

/********************************/
  /* _____START NAV______ */

  nav {
    background-color: rgb(255, 255, 255,0.5); /*nav colour added */
    margin: auto;
    height: auto;
    float: right;
    display: block;
    padding-right: 50px;
    text-decoration: none;
    font-family:  'Lato', sans-serif;
}

nav ul {
  display: flex; /* the flex-container for the list items makes the flex-items sit side by side */
  justify-content: space-between; /* spreads the flex-items starting at the start and end of the main axis */
  list-style-type: none; /* removes the list bullets */
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0;
}

nav li a:hover { 
  background-color: #686f48;
  color: rgb(255, 255, 255)
}

nav li a { 
  padding: 15px ;
  display: inline-block; /* an anchor is an inline element so it has no box model vertical measurements, this makes the anchor behave like a block element that sits inline like an inline element */
  text-decoration: none;
  font-weight: bold; 
  color: #2c2c2c;
}

* {
box-sizing: border-box;
}

.header .logo {  /*Nav header logo */
display: block;
float: left;
font-size: 2em;
padding: 10px 40px 10px 10px;
text-decoration: none;
}

header { /*Home, About, Services, Contact, & Social Icons Styling */ 
    padding: 15px;
    width: 1000px; /* Centers the content and gives it negative space on either side */
    margin: auto;
    display: flex; /* The flex-container for the logo and the heading (the flex-items) makes the flex-items sit side by side */
    align-items: center; /* Positions the flex items at the center of the cross axis (vertical) */
  }

.header { /* Nav Bar Box, makes nav items sit spread apart */
background-color: rgb(255, 255, 255);
box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
position: fixed;
width: 100%;
z-index: 3;
}

header .wrapper { /*Decides where nav items lay on the page*/
  width: 1000px;
  margin: auto;
  padding: 0 30px ;
}

/******************************/
/*Header Image Styling Start */

#headerphoto { 
      width:100%;
      height: 500px;
      margin:auto;
      background-position:center;
      background-repeat:repeat;
      overflow:hidden;
      display: block;
     }

#headerphoto img{ 
  width: 100%;
  display: block;
} 

/*Header image Styling End*/
/*****************************/


/* HEADER MENU */

.header .menu {
clear: both;
max-height: 0;
transition: .2s ease-out;
}

@media (min-width: 48em) { /* 48em=768px*/
.header li {
  float: left;
}
.header li a {
  padding: 20px 30px;
}
.header .menu {
  clear: none;
  float: right;
  max-height: none;
}
.header .menu-icon {
  display: none;
}

/*Facebook & Twitter & Youtube NAV Icons */
.social-icon { 
  margin-left: 10px;
  margin-right: 5px;
  float: right;
}

/*INTRO COLUMN START */

.column {
float: left;
width: 55%; /* This creates equal columns that float next to each other */
padding-top: 5px;
margin-left: 30px;
}

.column ul li {
padding-top: 5px;
margin-left: 50px;
font-family: 'mada', sans-serif;
}

.column-img {
float: left;
width: 33.33%; /* This creates equal columns that float next to each other */
padding-top: 50px;
margin-left: 40px;
margin-right: 50px;
height: auto;
}

/* Clear floats after the columns */
.row::after {
content:"";
display: flex;
clear: both;
}

/* Solid border copied from W3 schools and altered */
hr.solid {
border-top: 2px solid rgb(238, 238, 238);
margin-top: 30px;
width: 95%;
} 

/* INTRO END. SERVICES COLUMN START */

.servicescolumn {
float: left;
width: 33.33%; /* This creates equal columns that float next to each other */
padding-top: 15px;
padding-left: 50px;
padding-bottom: 25px;
padding-right: 50px;
}

.servicescolumn figcaption{
width:auto; /* This creates equal columns that float next to each other */
padding-left: 10px;
text-align: left;
padding-right: 10px;
font-family: 'Lato', sans-serif;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
.servicescolumn, .servicescolumn-imgs, figcaption {
  width: 100%;
}
}

.column2 { /*Our Services Titles*/
float: left;
width: 95%; /* This creates equal columns that float next to each other */
padding-top: 1px;
margin-left: 20px;
}

.column2, figcaption { /*Caption titles */
float: left; 
width: 95%; /* This creates equal columns that float next to each other */
padding-left: 1px;
font-family: 'Lato', sans-serif;
}

/* Clear floats after the columns */
.servicesrow ::after {
content:"";
display: flex;
clear: both;
}
/* OUR SERVICES END*/

 footer {
    background: #686f48;
    width: 100%;
    color: #fff;
  }

  .footer-content { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .footer-content p{ /*footer disclaimerparagraph text */ 
      max-width: 500px;
      margin: 10px auto;
      margin-top: 20px;
      line-height: 28px;
      font-size: 16px;
      color: #f4f4f4;
      text-align: center;
      font-family: 'Mada', sans-serif;
  }

.footer-bottom{ /*Copyright info*/ 
  background: #505538;
  width: 100%;
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.footer-bottom p{
 text-align: center;
 font-size: 14px;
}

.footer-bottom span{ /*Copyright info end*/
  opacity: .4;
  font-weight: 200;
}

/*right side nav bar start*/
.footer-menu{
float: right;
}

.footer-menu ul{
display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{ 
color: #000000;
text-decoration: none;
font-family: 'Mada', sans-serif;
font-size: smaller;
}

.footer-menu ul li a:hover{
color: #686f48;
}
}
